@font-face {
   font-family: "Noto Sans CJK KR Bold";
   src: url("fonts/Noto Sans CJK KR Bold.eot") format("embedded-opentype"), url("fonts/Noto Sans CJK KR Bold.otf") format("opentype"), url("fonts/Noto Sans CJK KR Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
}